h1{
    color: blueviolet;
    text-align: center;
}

a:link,a:visited{
    background-color: gray;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin-left: 20px;
    margin-right: 100px;
}

a:hover,a:active{
    background-color: coral;
}